<div *ngIf="!isEditing">
  {{singleJobApplication?.jobTitle}}
  {{singleJobApplication?.companyName}}

  <button (click) = 'onDelete()' class="bg-red-500 hover:bg-red-600 rounded-lg py-2 px-6 mr-3 text-white"><fa-icon [icon] ="faTrashCan"/></button>
  <button (click) = "onEditing()" class="bg-blue-500 hover:bg-blue-600 rounded-lg py-2 px-6 text-white "><fa-icon [icon] = "faPen"/></button>

</div>


<div *ngIf="isEditing">
  <form [formGroup] = "jobApplicationForm" >

    <div>
      Job Title:
      <input formControlName = "jobTitle" type="text">

      companyName:
      <input type="text" formControlName = "companyName">

      status:
      <select formControlName = "status">
        <option *ngFor="let status of jobStatusLabel" [value]="status.key">{{status.value}}</option>
      </select>


    </div>
    <button (click) = "onCancel()" class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded-lg mr-2 mt-3">Cancel</button>
    <button (click) = "onUpdate()" class="bg-blue-500 hover:bg-blue-600 rounded-lg py-2 px-4 ml-2 mt-3">Save</button>
  </form>
</div>
