<div *ngIf="!isEditing">
  {{singleJobApplication?.jobTitle}}
  {{singleJobApplication?.companyName}}

  <button (click) = 'onDelete()'>Delete</button>
  <button (click) = "onEditing()">Update</button>

</div>


<div *ngIf="isEditing">
  <form [formGroup] = "jobApplicationForm" >

    <div>
      Job Title:
      <input formControlName = "jobTitle" type="text">

      companyName:
      <input type="text" formControlName = "companyName">

      status:
      <select formControlName = "status">
        <option *ngFor="let status of jobStatusLabel" [value]="status.key">{{status.value}}</option>
      </select>


    </div>
    <button (click) = "onCancel()">Cancel</button>
    <button (click) = "onUpdate()">Update</button>
  </form>
</div>
