
<!--<div class="flex justify-center h-screen" >-->
<!--  <div class="w-64 h-32 bg-blue-400 mt-20">-->
<!--    <button (click)="onLogout()">Sign Out</button>-->
<!--    <p>Dashboard??</p>-->
<!--    &lt;!&ndash;<button routerLink = "/create-job">Job application form</button>&ndash;&gt;-->
<!--    <button routerLink = "/user-profile" class=" ml-2 bg-blue-500 py-2 px-4 text-white rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-150">Navigate to User profile</button>-->

<!--  </div>-->

  <div class="min-w-full overflow-auto-y">

    <app-job-status-pie-chart></app-job-status-pie-chart>
  </div>


<!--</div>-->

