<h1>Login</h1>

<form [formGroup]="signInForm" (ngSubmit)="onLogin()">
  <div>
    <label>Username:</label>
    <input formControlName="username" type="text" autocomplete="new-username">
    <span *ngIf="signInForm.get('username')?.invalid && signInForm.get('')?.touched">
      Username is required.
    </span>
  </div>
  <div>
    <label>Password:</label>
    <input formControlName = "password" type="password" autocomplete="new-password">
    <span *ngIf ="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
      Password is required.
    </span>
  </div>
  <button [disabled]="signInForm.invalid">Login</button>
</form>
{{message}}

<div>

  <span>New User? <button routerLink = "/signup">Create a new account</button></span>
</div>
