<div class="flex items-center justify-center h-screen">


  <div class="max-w-lg mx-auto bg-white rounded-lg p-6 shadow-md border border-gray-200">
    <h2 class="text-2xl font-semibold text-gray-700 mb-4 text-center">Sign Up</h2>

    <form [formGroup]="signUpForm" (ngSubmit)='onRegister()' class="space-y-6">
      <div>
        <label class="label">First Name:</label>
        <input formControlName='firstName' type="text" class="input-field">
        <span *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched" class="block bg-red-400 text-white rounded-md py-2 px-4 w-50">
          First Name is required
        </span>
      </div>
      <div>
        <label class="label">Last Name:</label>
        <input formControlName="lastName" type="text" class="input-field">
        <span *ngIf="signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched " class="block bg-red-400 text-white rounded-md py-2 px-4 w-50">
        Last Name is required
      </span>
      </div>

      <div>
        <label class="label"> Username: </label>
        <input formControlName="username" type="text" autocomplete="new-password" class="input-field">
        <span *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched" class="block bg-red-400 text-white rounded-md py-2 px-4 w-50">
          Username is required
        </span>
      </div>

      <div>
        <label class="label"> Password:*</label>
        <input formControlName="password" type="password" autocomplete="new-password" class="input-field">
        <div *ngIf="signUpForm.get('password')?.touched">
          <span *ngIf="signUpForm.get('password')?.errors?.['required']" class="block bg-red-400 text-white rounded-md py-2 px-4 w-50">
            Password is required
          </span>
              <span *ngIf="signUpForm.get('password')?.errors?.['minlength']" class="block bg-red-400 text-white rounded-md py-2 px-4 w-50">
            Password Must be at least 6 characters long
          </span>
        </div>


      </div>
      <button [disabled]="signUpForm.invalid" type="submit" class="bg-green-600 hover:bg-green-700 py-2 px-4 rounded-lg w-full disabled:cursor-not-allowed disabled:bg-green-200">Sign Up</button>
    </form>
    <span *ngIf = "message" class="block bg-red-300 rounded-md py-2 px-4 text-white">{{ message }}</span>

    <span >Already have an account?  <button routerLink="/login" class="underline text-blue-400 mt-4">Login</button></span>
  </div>
</div>
